<div><h1>To Do List!</h1></div>
<div><p>A Place to Store Your Todos</p></div>


<form> 
<input type = "text" class = "filter" placeholder = "Filter your todos">
<ol> 
  <li *ngFor ="let item of items" [ngClass] = "{'strikethrough': item.completed}" > 
    <span>
      <button class = "complete" *ngIf="!item.completed" (Click)="completeTask()" > Complete </button> 
       {{ item.task }}    
      
    </span>
    <button class = "remove" (click)="removeTask(n)"> X </button>
  </li> 
</ol>
<input type = "text" class = "userInput" placeholder = "Add your todo" 
[ngModelOptions]="{standalone: true}" [(ngModel)]="newTask">
<button class="add" (click)="addTask(newTask)">Add</button>
</form>

















